.calcBox{
  display: flex; 
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
summary {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.additional{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
p{
  color: #111111;
}
.calc{
  display: inline-flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 30%;
}

.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border-radius: 50%;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #ffffff;         /* задаем серый цвет кнопки */
    color: #111111;                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;           /* увеличим размер шрифта */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                   со стрелки на 'указательный палец' */
    font-weight: 550;
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
    transition: transform 0.1s ease;
  } 
  .my-btn:hover {
    background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
    transform: scale(0.95);
  }
  
  .my-btn.primary { 
    background: #e60023; /* цвет кнопки красный */
    color: white;
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #e9e9e9; 
    color: black;
  }
  .my-btn.secondary:hover { 
    background: #474646;
  }

  .my-btn.primary:hover { 
    background: #a90019; 
    
  }
  
  .dark-mode{
    background-color: #474646;
    color: #474646;
  }
  .light-mode{
    background-color: #fff;
    color: #fff;
  }
  .wallpaper-mode{
    background-image: url('wallpaper.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* селектор для кнопки расчета выражения (=) */
  .execute { 
    width: 110px;          /* сделаем кнопку шире других */
    border-radius: 34px;   /* подкорректируем округлость */
  }
  .switch{
    width: 150px;
    border-radius: 34px;
    font-weight: 600;
    font-size: 1rem;
  }
  #result { 
    width: 220px;
    height: 60px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background:#e9e9e9; /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #111111;              /* цвет текста белый */
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .author_name{
    margin-top: 5%;
  }
  h1{
    font-size: 1.2rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
  }
  .lab-goal{
    width: 414px;
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  mark{
    background-color: #e60023;
    color: #fff;
    padding: 2px;
    margin: 2px;
    border-radius: 10%;
  }
  details {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }